.container
{
    border: 2px solid black;
    height: 400px;
    display: flex;
    /* flex-direction: column; 
    flex-direction: row-reverse;
    flex-direction: column-reverse; */
    /* flex-direction: row; */

    flex-wrap: wrap;
    /* justify-content: center;
    justify-content: space-around; */
    justify-content: flex-start;
    /* justify-content: space-between; */

    align-items: flex-start;
    gap: 50px;

}

.box
{
    border: 2px solid green;
    width: 50px;
}