@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&display=swap');




*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    /* font-family: 'Bebas Neue', sans-serif; */
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #EE4540;
    display: grid;
    place-items: center;
}

.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #765D69 ;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}

.tic-tac-toe{
    margin-top: 100px;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: #2D142C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,.box2,.box4,.box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3,.box6{
    border-bottom: 2px solid white;
}

.box7,.box8{
    border-right: 2px solid white;
}

.btn{
    color: rgb(255, 0, 93);
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 3rem;
    cursor: pointer;
    display: none;
}

.btn.active{
    display: flex;
}

/* jo win karta hai is div me BACKGROUND COLOR aaraha hai wo */

.win{
    background-color: #8FB9A8;
}
